In [7]:
import pandas as pd
import os

In [9]:
# REad the data 
df = pd.read_csv("{}/crimes.csv".format(os. getcwd()),
delimiter= '\t')

/tmp/ipykernel_11078/1708732942.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("{}/crimes.csv".format(os. getcwd()),

In [11]:
df.head()

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
0,1.0,JA118920,01/01/2017 01:00:00 AM,023XX N WAYNE AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,false,1811.0,18.0,41.924198,-87.662071,"(41.924196311, -87.662069166)"
1,2.0,JA100052,01/01/2017 01:00:00 AM,090XX S BLACKSTONE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,true,413.0,4.0,41.730709,-87.587997,"(41.730707788, -87.587998843)"
2,3.0,JA100367,01/01/2017 01:00:00 AM,049XX N WHIPPLE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,1713.0,17.0,41.970776,-87.704872,"(41.97077465, -87.704873143)"
3,4.0,JA100092,01/01/2017 01:00:00 AM,023XX S CALIFORNIA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,false,1034.0,10.0,41.848907,-87.695366,"(41.848905706, -87.695364781)"
4,5.0,JA494707,01/01/2017 01:00:00 AM,032XX N MILWAUKEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,1732.0,17.0,41.940193,-87.725647,"(41.940192486, -87.725649965)"

Task 1: 
possible questions to investigate;

THe main task of this DB is to provide a FAIR implementation of descriptive statistics; possible to set up for further use for advanced analytics (predictive)

TODO: perform the EDA and data cleaning describe each level; so first do level 1.. describe what you do and find there... further motivate why you go with certain questions to level 2 and then motivate why you answer a specific question in question 3

For data understanding:
1. Is block properly randomized with the location (lat lon)? So does the lcoation really correspond with the block desciripn
2. is the police district more relevant 

General description:
there are 4 types of data groups: a) location data, b) atrest or not, c) type of crime, d) time component

EDA:
I) Frist level (simple)
1. crimes grouped by type (there are two types one primary one secondary)
    --> look for prevaleence of a certain types of crimes
    --> this may need the most cleaning of all 
    --> possibly gorup certain types of crimes into overarching groups
    --> level 1 vs level 2 (the two differernt types of crimes pitted against each other)
    --> group crimes with an index!; or index data by 
2. Location: simple plotting and exploration of what different types of districts exist in the first place
    --> do not go into depth here; just look at the location
    --> as every row should pertain to a crime, this means that every instance is just another instance of frequency of crime; so make a barchart of the different districts/beat to see where are the msot crimes perpetrated (irregardless of type of crime)
    --> index data by devere districts 
    --> plot the lcoation of the data 



IMPORTANT: CASE NUMBERS ARE UNIQUE! MAYBE WE CAN SEE TOTALS THIS WAY OR GROUP BASED ON CASE NUMBER TO REDUCE THE AMOUNT OF DATA; 

II) Joint Distribtuin questions 
1. Crime by time (different types)
    --> Sesonality patterns?
    --> change over time in terms of years/months
    --> Time of day

2. Crime by location (different types)
    --> where do certain types of crime happen the most?
    --> what crime type happens where the most; eg in what district do we see most homcides etc

3. Crime by arrest



4. Location by arrest (racial problems? Idk we are a woke school; think about the professor.. she is )


III) advanced
Main questions:
- do crime patterns change over time; WHere and when? SO that the police can focus on areas by sesonality 
1. Crime



1. Crimetype by time by arrest 

2. crimes grouped by arrest
3. crimes by location description
4. crimes by BEAT/ location description/ district 
5. Crime by lon/lat

## Level 1; univariate inspection of Variables
#### Find mistakes in the variables; nan; etc and establish a general feel for the data

### Inspect data types

In [15]:
df.dtypes

CrimeID                float64
casenumber              object
date                    object
block                   object
iucr                    object
primarytype             object
description             object
locationdescription     object
arrest                  object
beat                   float64
district               float64
latitude               float64
longitude              float64
location                object
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730900 entries, 0 to 730899
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CrimeID              730900 non-null  float64
 1   casenumber           730897 non-null  object
 2   date                 730898 non-null  object
 3   block                730900 non-null  object
 4   iucr                 730897 non-null  object
 5   primarytype          730897 non-null  object
 6   description          730897 non-null  object
 7   locationdescription  727466 non-null  object
 8   arrest               730897 non-null  object
 9   beat                 730897 non-null  float64
 10  district             730897 non-null  float64
 11  latitude             719317 non-null  float64
 12  longitude            719319 non-null  float64
 13  location             719319 non-null  object
dtypes: float64(5), object(9)
memory usage: 78.1+ MB

In [17]:
df.head()

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
0,1.0,JA118920,01/01/2017 01:00:00 AM,023XX N WAYNE AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,false,1811.0,18.0,41.924198,-87.662071,"(41.924196311, -87.662069166)"
1,2.0,JA100052,01/01/2017 01:00:00 AM,090XX S BLACKSTONE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,true,413.0,4.0,41.730709,-87.587997,"(41.730707788, -87.587998843)"
2,3.0,JA100367,01/01/2017 01:00:00 AM,049XX N WHIPPLE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,1713.0,17.0,41.970776,-87.704872,"(41.97077465, -87.704873143)"
3,4.0,JA100092,01/01/2017 01:00:00 AM,023XX S CALIFORNIA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,false,1034.0,10.0,41.848907,-87.695366,"(41.848905706, -87.695364781)"
4,5.0,JA494707,01/01/2017 01:00:00 AM,032XX N MILWAUKEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,1732.0,17.0,41.940193,-87.725647,"(41.940192486, -87.725649965)"

In [ ]:
# adjust the datatypes posthoc 
# CrimeID as first to integer value then to STRING

df = df.astype({"CrimeID":"int","casenumber":"str"})

### Inspect missing values

In [12]:
df.isna().sum().sum()

38202

In [14]:
df.isna().sum()

CrimeID                    0
casenumber                 3
date                       2
block                      0
iucr                       3
primarytype                3
description                3
locationdescription     3434
arrest                     3
beat                       3
district                   3
latitude               11583
longitude              11581
location               11581
dtype: int64

### Perform simple EDA as defined above

In [6]:
df

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
0,1.0,JA118920,01/01/2017 01:00:00 AM,023XX N WAYNE AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,false,1811.0,18.0,41.924198,-87.662071,"(41.924196311, -87.662069166)"
1,2.0,JA100052,01/01/2017 01:00:00 AM,090XX S BLACKSTONE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,true,413.0,4.0,41.730709,-87.587997,"(41.730707788, -87.587998843)"
2,3.0,JA100367,01/01/2017 01:00:00 AM,049XX N WHIPPLE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,1713.0,17.0,41.970776,-87.704872,"(41.97077465, -87.704873143)"
3,4.0,JA100092,01/01/2017 01:00:00 AM,023XX S CALIFORNIA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,false,1034.0,10.0,41.848907,-87.695366,"(41.848905706, -87.695364781)"
4,5.0,JA494707,01/01/2017 01:00:00 AM,032XX N MILWAUKEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,1732.0,17.0,41.940193,-87.725647,"(41.940192486, -87.725649965)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730895,730747.0,JE493505,12/31/2021 12:38:00 AM,005XX E 32ND ST,031A,ROBBERY,ARMED - HANDGUN,RESIDENCE - YARD (FRONT / BACK),False,211.0,2.0,41.836071,-87.612816,"(41.83607107, -87.612813156)"
730896,730748.0,JE493511,12/31/2021 12:41:00 AM,038XX W 68TH PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,833.0,8.0,41.768700,-87.718941,"(41.76870088, -87.718942599)"
730897,730749.0,JF100517,12/31/2021 12:41:00 PM,038XX W 83RD PL,0820,THEFT,$500 AND UNDER,RESIDENCE - PORCH / HALLWAY,False,834.0,8.0,41.741333,-87.717537,"(41.741332605, -87.717536356)"
730898,730750.0,JF100660,12/31/2021 12:49:00 AM,075XX S SEELEY AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,611.0,6.0,41.756420,-87.674522,"(41.756418241, -87.674522275)"
730899,730751.0,JE493516,12/31/2021 12:55:00 AM,020XX W NORTH AVE,0460,BATTERY,SIMPLE,BAR OR TAVERN,False,1424.0,14.0,41.910469,-87.678368,"(41.910470499, -87.678366829)"