In [1]:
import pandas as pd
import os
import numpy as np

In [18]:
# REad the data 
df = pd.read_csv("{}/crimes.csv".format(os. getcwd()),
                delimiter= '\t',
                dtype={"beat" : str, 
                "iucr" : str, 
                "district" : str, 
                "CrimeID" :str, 
                "casenumber" : str,
                "date": str,
                "block": str,
                "location": str})
None

/tmp/ipykernel_27586/3632211448.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("{}/crimes.csv".format(os. getcwd()),

In [19]:
df.head()

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
0,1,JA118920,01/01/2017 01:00:00 AM,023XX N WAYNE AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,false,1811,18,41.924198,-87.662071,"(41.924196311, -87.662069166)"
1,2,JA100052,01/01/2017 01:00:00 AM,090XX S BLACKSTONE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,true,413,4,41.730709,-87.587997,"(41.730707788, -87.587998843)"
2,3,JA100367,01/01/2017 01:00:00 AM,049XX N WHIPPLE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,1713,17,41.970776,-87.704872,"(41.97077465, -87.704873143)"
3,4,JA100092,01/01/2017 01:00:00 AM,023XX S CALIFORNIA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,false,1034,10,41.848907,-87.695366,"(41.848905706, -87.695364781)"
4,5,JA494707,01/01/2017 01:00:00 AM,032XX N MILWAUKEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,1732,17,41.940193,-87.725647,"(41.940192486, -87.725649965)"

Task 1: 
possible questions to investigate;

THe main task of this DB is to provide a FAIR implementation of descriptive statistics; possible to set up for further use for advanced analytics (predictive)

TODO: perform the EDA and data cleaning describe each level; so first do level 1.. describe what you do and find there... further motivate why you go with certain questions to level 2 and then motivate why you answer a specific question in question 3

For data understanding:
1. Is block properly randomized with the location (lat lon)? So does the lcoation really correspond with the block desciripn
2. is the police district more relevant 

General description:
there are 4 types of data groups: a) location data, b) atrest or not, c) type of crime, d) time component

EDA:
I) Frist level (simple)
1. crimes grouped by type (there are two types one primary one secondary)
    --> look for prevaleence of a certain types of crimes
    --> this may need the most cleaning of all 
    --> possibly gorup certain types of crimes into overarching groups
    --> level 1 vs level 2 (the two differernt types of crimes pitted against each other)
    --> group crimes with an index!; or index data by 
2. Location: simple plotting and exploration of what different types of districts exist in the first place
    --> do not go into depth here; just look at the location
    --> as every row should pertain to a crime, this means that every instance is just another instance of frequency of crime; so make a barchart of the different districts/beat to see where are the msot crimes perpetrated (irregardless of type of crime)
    --> index data by devere districts 
    --> plot the lcoation of the data 



IMPORTANT: CASE NUMBERS ARE UNIQUE! MAYBE WE CAN SEE TOTALS THIS WAY OR GROUP BASED ON CASE NUMBER TO REDUCE THE AMOUNT OF DATA; 

II) Joint Distribtuin questions 
1. Crime by time (different types)
    --> Sesonality patterns?
    --> change over time in terms of years/months
    --> Time of day

2. Crime by location (different types)
    --> where do certain types of crime happen the most?
    --> what crime type happens where the most; eg in what district do we see most homcides etc

3. Crime by arrest



4. Location by arrest (racial problems? Idk we are a woke school; think about the professor.. she is )


III) advanced
Main questions:
- do crime patterns change over time; WHere and when? SO that the police can focus on areas by sesonality 
1. Crime



1. Crimetype by time by arrest 

2. crimes grouped by arrest
3. crimes by location description
4. crimes by BEAT/ location description/ district 
5. Crime by lon/lat

## Level 1; univariate inspection of Variables
#### Find mistakes in the variables; nan; etc and establish a general feel for the data

### Inspect missing values

In [20]:
df.isna().sum().sum()

38202

In [27]:
df.isna().sum()

CrimeID                    0
casenumber                 0
date                       0
block                      0
iucr                       0
primarytype                0
description                0
locationdescription     3431
arrest                     0
beat                       0
district                   0
latitude               11580
longitude              11580
location               11580
dtype: int64

In [26]:
# those with missing casenumbers are unworkable in the first case 
# so these have to be removed
df.drop(df[df.casenumber.isna()].index, 
                                axis = 0, 
                                inplace = True)

In [23]:
# the location description missing seems to be fine as most other data is not missing
df[df.locationdescription.isna()]

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
16,14,JA295517,01/01/2017 01:00:00 AM,001XX E WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,false,114,1,41.888191,-87.623779,"(41.888189539, -87.623777956)"
17,14,JA295517,01/01/2017 01:00:00 AM,001XX E WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,false,114,1,41.888191,-87.623779,"(41.888189539, -87.623777956)"
98,60,JA293984,01/01/2017 01:40:00 PM,026XX N LAKEVIEW AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,false,1935,19,41.930336,-87.639290,"(41.930334169, -87.639289833)"
134,96,JD155524,01/01/2017 02:20:00 PM,019XX S SPRINGFIELD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,false,1014,10,NaN,NaN,NaN
209,171,JC382852,01/01/2017 04:05:00 PM,008XX S INDEPENDENCE BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,false,1133,11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729175,729027,JF219278,12/30/2021 12:00:00 AM,055XX N NORMANDY AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,1613,16,NaN,NaN,NaN
729800,729652,JC282350,12/31/2018 10:15:00 AM,011XX N MASON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,1511,15,NaN,NaN,NaN
730208,730060,JD115927,12/31/2019 12:10:00 PM,050XX S PRAIRIE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,224,2,41.803421,-87.619446,"(41.803419975, -87.619443526)"
730228,730080,JC566118,12/31/2019 12:50:00 AM,122XX S PRINCETON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,523,5,41.671860,-87.629692,"(41.671857853, -87.629690944)"
730434,730286,JE100259,12/31/2020 09:40:00 PM,017XX N WINNEBAGO AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,1434,14,41.913094,-87.683228,"(41.913094157, -87.683226402)"

In [25]:
# the location is a set of lat, lon data
# it appears to be neglible 
# no removal needed at this point
df[df.location.isna()]

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
6,7,JC456595,01/01/2017 01:00:00 AM,015XX W 19TH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,false,1235,12,NaN,NaN,NaN
34,23,JB235763,,016XX W PRATT BLVD,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,,2432,24,NaN,NaN,NaN
35,23,JB235763,,016XX W PRATT BLVD,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,,2432,24,NaN,NaN,NaN
134,96,JD155524,01/01/2017 02:20:00 PM,019XX S SPRINGFIELD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,false,1014,10,NaN,NaN,NaN
166,128,JB356747,01/01/2017 03:00:00 PM,057XX S GREEN ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,712,7,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730883,730735,JF129328,12/31/2021 12:01:00 AM,064XX S KENWOOD AVE,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,False,314,3,NaN,NaN,NaN
730884,730736,JF126961,12/31/2021 12:01:00 AM,022XX W 54TH PL,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,932,9,NaN,NaN,NaN
730888,730740,JF155537,12/31/2021 12:20:00 PM,096XX S UNION AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,2223,22,NaN,NaN,NaN
730889,730741,JF100299,12/31/2021 12:25:00 AM,020XX N WOLCOTT AVE,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,RESIDENCE,False,1432,14,NaN,NaN,NaN
730890,730742,JF139103,12/31/2021 12:26:00 PM,029XX S DR MARTIN LUTHER KING JR DR,0820,THEFT,$500 AND UNDER,APARTMENT,False,133,1,NaN,NaN,NaN

### Inspect data types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730897 entries, 0 to 730899
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CrimeID              730897 non-null  object
 1   casenumber           730897 non-null  object
 2   date                 730897 non-null  object
 3   block                730897 non-null  object
 4   iucr                 730897 non-null  object
 5   primarytype          730897 non-null  object
 6   description          730897 non-null  object
 7   locationdescription  727466 non-null  object
 8   arrest               730897 non-null  object
 9   beat                 730897 non-null  object
 10  district             730897 non-null  object
 11  latitude             719317 non-null  float64
 12  longitude            719317 non-null  float64
 13  location             719317 non-null  object
dtypes: float64(2), object(12)
memory usage: 83.6+ MB

In [52]:
df.loc[df.arrest == "true", "arrest"] = True
df.loc[df.arrest == "false", "arrest"] = False

In [60]:
# missing information in arrest
df[ ~((df.arrest == True) | (df.arrest == False))].head()
df.arrest.value_counts(dropna = False)

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
34,23.0,JB235763,,016XX W PRATT BLVD,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,NaN,2432.0,24.0,NaN,NaN,NaN
35,23.0,JB235763,,016XX W PRATT BLVD,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,NaN,2432.0,24.0,NaN,NaN,NaN
161,123.0,JA100380,,078XX S MORGAN ST,0810,THEFT,OVER $500,RESIDENCE,NaN,612.0,6.0,41.751896,-87.648926,"(41.751896943, -87.648926093)"
360,322.0,JA469768,,076XX S VERNON AVE,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,RESIDENCE,NaN,624.0,6.0,41.755615,-87.613823,"(41.755615044, -87.613820045)"
1161,1123.0,JB346519,,080XX S KEDVALE AVE,0553,ASSAULT,AGGRAVATED PO: OTHER DANG WEAP,STREET,NaN,834.0,8.0,41.747280,-87.725410,"(41.747280312, -87.725413197)"

In [57]:
# adjust the datatypes posthoc 
# CrimeID as first to integer value then to STRING

df = df.astype({"CrimeID":int, 
                "casenumber":str, 
                "block":str,
                "iucr":str,
                "primarytype":str,
                "description":str,
                "locationdescription":str,
                "arrest": str})

SyntaxError: expression expected after dictionary key and ':' (4258090601.py, line 11)

In [ ]:
# i just prefer an Id to be in STR so that no stupid things can be done to it
df = df.astype({"CrimeID":str})

In [ ]:
df.isna().sum()

CrimeID                    0
casenumber                 0
date                       0
block                      0
iucr                       0
primarytype                0
description                0
locationdescription     3431
arrest                     0
beat                       0
district                   0
latitude               11580
longitude              11580
location               11580
dtype: int64

In [ ]:
df.head()

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
0,1,JA118920,01/01/2017 01:00:00 AM,023XX N WAYNE AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,false,1811.0,18.0,41.924198,-87.662071,"(41.924196311, -87.662069166)"
1,2,JA100052,01/01/2017 01:00:00 AM,090XX S BLACKSTONE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,true,413.0,4.0,41.730709,-87.587997,"(41.730707788, -87.587998843)"
2,3,JA100367,01/01/2017 01:00:00 AM,049XX N WHIPPLE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,1713.0,17.0,41.970776,-87.704872,"(41.97077465, -87.704873143)"
3,4,JA100092,01/01/2017 01:00:00 AM,023XX S CALIFORNIA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,false,1034.0,10.0,41.848907,-87.695366,"(41.848905706, -87.695364781)"
4,5,JA494707,01/01/2017 01:00:00 AM,032XX N MILWAUKEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,1732.0,17.0,41.940193,-87.725647,"(41.940192486, -87.725649965)"

### Perform simple EDA as defined above

In [ ]:
df

,CrimeID,casenumber,date,block,iucr,primarytype,description,locationdescription,arrest,beat,district,latitude,longitude,location
0,1,JA118920,01/01/2017 01:00:00 AM,023XX N WAYNE AVE,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,false,1811.0,18.0,41.924198,-87.662071,"(41.924196311, -87.662069166)"
1,2,JA100052,01/01/2017 01:00:00 AM,090XX S BLACKSTONE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,true,413.0,4.0,41.730709,-87.587997,"(41.730707788, -87.587998843)"
2,3,JA100367,01/01/2017 01:00:00 AM,049XX N WHIPPLE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,1713.0,17.0,41.970776,-87.704872,"(41.97077465, -87.704873143)"
3,4,JA100092,01/01/2017 01:00:00 AM,023XX S CALIFORNIA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,false,1034.0,10.0,41.848907,-87.695366,"(41.848905706, -87.695364781)"
4,5,JA494707,01/01/2017 01:00:00 AM,032XX N MILWAUKEE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,false,1732.0,17.0,41.940193,-87.725647,"(41.940192486, -87.725649965)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730895,730747,JE493505,12/31/2021 12:38:00 AM,005XX E 32ND ST,031A,ROBBERY,ARMED - HANDGUN,RESIDENCE - YARD (FRONT / BACK),False,211.0,2.0,41.836071,-87.612816,"(41.83607107, -87.612813156)"
730896,730748,JE493511,12/31/2021 12:41:00 AM,038XX W 68TH PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,833.0,8.0,41.768700,-87.718941,"(41.76870088, -87.718942599)"
730897,730749,JF100517,12/31/2021 12:41:00 PM,038XX W 83RD PL,0820,THEFT,$500 AND UNDER,RESIDENCE - PORCH / HALLWAY,False,834.0,8.0,41.741333,-87.717537,"(41.741332605, -87.717536356)"
730898,730750,JF100660,12/31/2021 12:49:00 AM,075XX S SEELEY AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,611.0,6.0,41.756420,-87.674522,"(41.756418241, -87.674522275)"
730899,730751,JE493516,12/31/2021 12:55:00 AM,020XX W NORTH AVE,0460,BATTERY,SIMPLE,BAR OR TAVERN,False,1424.0,14.0,41.910469,-87.678368,"(41.910470499, -87.678366829)"