In [43]:
import sqlite3
import pandas as pd

In [44]:
# make queries

# Create a SQL connection to our SQLite database
con = sqlite3.connect("/home/angelo/Documents/Uni/Courses/Data Managment & Ethics/Integrated Assignment/assignemnet_project_folder/database/assignment_db_2")

cur = con.cursor()

In [45]:
q1 = '''
SELECT Year, PrimaryCategory, CrimeCountCurrentYear, ROUND(CAST((CrimeCountCurrentYear - LAG(CrimeCountCurrentYear) OVER (PARTITION BY PrimaryCategory)) AS REAL) / CAST(LAG(CrimeCountCurrentYear) OVER (PARTITION BY PrimaryCategory) AS REAL) * 100, 4) AS PCTChange
FROM
(SELECT DISTINCT vct.Year, ct.PrimaryCategory, COUNT (*) OVER( PARTITION BY PrimaryCategory, Year ORDER BY PrimaryCategory) AS CrimeCountCurrentYear 
FROM view_convenient_time as vct JOIN CrimeType AS ct
ON vct.IUCR == ct.IUCR);
'''

In [49]:
df_q1 = pd.read_sql_query(q1, con)

In [51]:
df_q1

     Year    PrimaryCategory  CrimeCountCurrentYear  PCTChange
0    2017              ARSON                    282        NaN
1    2018              ARSON                    226   -19.8582
2    2019              ARSON                    212    -6.1947
3    2020              ARSON                    374    76.4151
4    2021              ARSON                    310   -17.1123
..    ...                ...                    ...        ...
157  2017  WEAPONS VIOLATION                   2814        NaN
158  2018  WEAPONS VIOLATION                   3201    13.7527
159  2019  WEAPONS VIOLATION                   3849    20.2437
160  2020  WEAPONS VIOLATION                   5040    30.9431
161  2021  WEAPONS VIOLATION                   5456     8.2540

[162 rows x 4 columns]

In [50]:
df_q1

     Year    PrimaryCategory  CrimeCountCurrentYear  PCTChange
0    2017              ARSON                    282        NaN
1    2018              ARSON                    226   -19.8582
2    2019              ARSON                    212    -6.1947
3    2020              ARSON                    374    76.4151
4    2021              ARSON                    310   -17.1123
..    ...                ...                    ...        ...
157  2017  WEAPONS VIOLATION                   2814        NaN
158  2018  WEAPONS VIOLATION                   3201    13.7527
159  2019  WEAPONS VIOLATION                   3849    20.2437
160  2020  WEAPONS VIOLATION                   5040    30.9431
161  2021  WEAPONS VIOLATION                   5456     8.2540

[162 rows x 4 columns]